/*src/app/globals.css*/

@import "tailwindcss";

body {
  @apply text-white;

  background-image:
    url('/images/city.png'),  
    url('/images/ceu.jpg');    

  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-attachment: fixed, fixed;
  background-position: bottom, center;
}


html.dark body {
  @apply text-white;

  background-image:
    url('/images/city.png'),  
    url('/images/night.jpg');  
    
}

