@import "tailwindcss";

/* MODO CLARO */
body {
  @apply text-white;

  background-image:
    url('/images/city.png'),   /* imagem fixa sempre visível */
    url('/images/ceu.jpg');    /* imagem de fundo clara */

  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-attachment: fixed, fixed;
  background-position: bottom, center;
}

/* MODO ESCURO */
html.dark body {
  @apply text-white;

  background-image:
    url('/images/city.png'),   /* mesma imagem da frente */
    url('/images/night.jpg');  /* imagem de fundo escura */
}